.wrapper{
    float:left;
}

.input{
    background-color:#476C43;
    padding:10px;
    margin:10px;
    color:#f2f2f2;
}

.output{
    background-color:#7a577a;
    padding:10px;
    margin:10px;
    color:#f2f2f2;
}
