.wrapper{
    float:left;
}

.input{
    background-color:#537E4E;
    padding:10px;
    margin:10px;
    color:#f2f2f2;
    letter-spacing: 0.1em;
    font-family: Verdana;
}

.output{
    background-color:#8e658e;
    padding:10px;
    margin:10px;
    color:#f2f2f2;
    letter-spacing: 0.1em;
    font-family: Verdana;
}